body {
    font-family: Avenir, sans-serif;
    background-image: url(images/background.jpg);
    background-repeat: repeat;
}

h1 {
    color: white;
    font-size: 20pt;
    text-align: center;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 80px;
    border-bottom: 3px solid lightgrey;
}

.heading { 
    position: absolute;
    bottom: 0;
    margin-left: 40px;
    background-color: lightseagreen;
    height: 50px;
    width: 230px;
}

.fixedbottom {
	bottom: 0;
    left: 0;
	position: fixed;
	background-color: dimgrey;
	height: 60px;
	width: 100%;
    margin-top: 0;
    border-top: 7px solid lightseagreen;
}

.relative {
	align-self: center;
	position: relative;
	top: 50%;
	left: 50%;
	background-color: white;
	height: 200px;
	width: 200px;
}

.absolute {
	bottom: 0;
	right: 0;
	position: absolute;
	background-color: #666;
	height: 50px;
	width: 100px;
}

.copyright {
    font-size: 10pt;
    color: white;
    text-align: center;
    padding-top: 10px;
}
